#!/usr/bin/env python

# vim: tabstop=4 shiftwidth=4 softtabstop=4 expandtab

'''
config.py
===============

This configuration file defines the user parameters and some defualt VM parameters
for cases where they were left out
'''


user=''
password=''

auth_url='http://iam.savitestbed.ca:5000/v2.0/'

#Default Parameters for Nodes
region_name = 'CORE'
tenant_name = 'ualberta'

instance_name="OVS_demo_"
key_name="khash"
private_key_file="/home/savitb/khash/.ssh/id_rsa"
pub_key=private_key_file+".pub"

image_name="image-3.0.1"
flavor_name="m1.tiny"
sec_group_name="default"
vm_user_name="ubuntu"
wait_before_ssh=120

